.list {
  display: flex;
  margin-top: 30px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.item:hover {
  transform: scale(0.98);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.online {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: teal;
  z-index: 4;
}

.noOnline {
  top: 0;
  right: 0;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: tomato;
  z-index: 4;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item img {
  display: block;
  width: 80%;
  height: 80%;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  filter: grayscale(50%);
  transition: filter 200ms linear;
}

.item img:hover {
  filter: grayscale(1%);
}

.name {
  font-size: larger;
  margin-left: 10px;
}
